* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
  background-image: url(/opdracht3.1/P1-html-css-layout-main/img/background.jpeg);
  background-size: 100%;
  background-color: black;
  color: white;
  height: 100vh;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  position: fixed;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}
footer{
  background-color: #00a8c7;
  text-align: center;
  
}
h1{
  text-align: center;
}

ul{
  list-style-type: none;
  background-color: #00a8c7;
}
li{
  float: left;
}
li a{
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 0.8rem 1rem;
  display: inline-block;
}
.dropdown-content{
  display: none;
  position: absolute;
  background-color: white;
  min-width: 20vw;
  box-shadow: 0rem 0.5rem 1rem 0rem black;
  z-index: 1;
}
.dropdown-content a{
  color: #00a8c7;
  padding: 0.8rem 1rem;
  display: block;
  text-align: left;
}
.dropdown:hover .dropdown-content{
  display: block;
}

ul li a:hover{
  background-color: #E9E9E9;
}