* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    width: max-content 1200px;
    float: left;
  }

