/* Reset some default styles */
body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

 

/* Basic styles for the navbar */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

 

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

 

.navbar-logo {
    font-size: 24px;
    font-weight: bold;
}

 

.navbar-nav {
    display: flex;
    gap: 20px;
}

 

.nav-item {
    margin-right: 10px;
    text-align: center;
}

 

.nav-item:last-child {
    margin-right: 0;
}

 

.nav-item a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
